# Server
PORT=8000
NODE_ENV=development

# Database
DATABASE_URL=

# JWT
JWT_SECRET=secret-key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=refresh-secret
JWT_REFRESH_EXPIRES_IN=30d
JWT_EMAIL_VERIFICATION_SECRET=email-verification-secret
JWT_EMAIL_VERIFICATION_EXPIRES_IN=20m

# Nodemailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=example@example.com
SMTP_PASS=xxxx xxxx xxxx xxxx
SMTP_FROM_NAME=No Country
SMTP_FROM_EMAIL=example@example.com

FRONTEND_URL=http://localhost:3000